@import url(reset.css);

.rudy { color: #f3ba67; }
.jeans { color: #3a455c; }

/* main properties */

* {
	box-sizing: border-box;
}

html {
	font-family: Roboto, sans-serif;
	font-size: 62.5%;
	background-color: #f3ba67;
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffe8c6' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

h1, h2, h3 {
	font-family: neucha, sans-serif;
}


h2 {
	font-size: 3.5rem;
	margin-bottom: 2rem;
	color: #3a455c;
}

/* hero image and decorative fur*/

.portrait {
	background: url(assets/portrait.jpg) center no-repeat fixed;
	height: 100vh;
	background-size: cover;
}

.portrait:hover {
	filter: saturate(130%) hue-rotate(6deg);
	transition: 2s;
}

.fur {
	position: absolute;
	z-index: 9999;
	height: 100.1vh;
}

/*header */ 

header {
	height: 16rem;
	position: fixed;
	width: 100%;
	z-index: 999;
	background-color: #3a455c;
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23656970' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

h1 {
	font-size: 6rem;
	color: #f3ba67;
	float: left;
	margin-top: 4rem;
	margin-left: 18%;
} 

nav {
	float: right;
	margin-right: 5rem;
	margin-top: 6.5rem;
}

nav a {
	text-decoration: none;
	color: #f3ba67;
}

nav a:hover {
	color: #F6D372;
	transition: 0.6s;
}

nav li {
	display: inline-block;
	font-size: 2.5rem;
	font-family: neucha, sans-serif;
	padding-right: 4rem;
}

nav li:last-child {
	padding-right: 0;
}

/*section with articles*/

section {
	width: 85%;
	max-width: 1200px;
	text-align: center;
	font-size: 1.6rem;
	margin: 0 auto;
	line-height: 1.7;
}

article {
	margin: 2.5rem 0;
}

p {
	column-count: 2;
	column-gap: 4rem;
	text-align: left;
	color: #3a455c;
}

em {
	font-weight: 600;
}

i {
	margin-top: 2rem;
	font-size: 2rem;
	color: #3a455c;
}


/* gallery*/

.clearfix {
    overflow: auto;
}

#galeria {
	margin: 5rem auto 0 auto;
	width: 99%;
}

#galeria div {
	width: 25%;
	float: left;
	position: relative;
	border: 0.3rem solid #f3ba67;
}

#galeria img:hover {
	filter: saturate(140%) hue-rotate(10deg);
	transition: 0.4s;
}

.container {
	height: 200px;
	position: relative;
	}

.container1 {
	background: url('assets/1.jpg') center no-repeat;
	background-size: cover;
}

.container2 {
	background: url('assets/2.jpg') center no-repeat;
	background-size: cover;
}

.container3 {
	background: url('assets/3.jpg') center no-repeat;
	background-size: cover;
}

.container4 {
	background: url('assets/4.jpg') center no-repeat;
	background-size: cover;
}

.container5 {
	background: url('assets/5.jpg') center no-repeat;
	background-size: cover;
	}

.container6 {
	background: url('assets/6.jpg') center no-repeat;
	background-size: cover;
	}

.container7 {
	background: url('assets/7.jpg') center no-repeat;
	background-size: cover;
	}

.container8 {
	background: url('assets/8.jpg') center no-repeat;
	background-size: cover;
	}

.container9 {
	background: url('assets/9.jpg') center no-repeat;
	background-size: cover;
	}

.container10 {
	background: url('assets/10.jpg') center no-repeat;
	background-size: cover;
	}

.container11 {
	background: url('assets/11.jpg') center no-repeat;
	}

.container12 {
	background: url('assets/12.jpg') center no-repeat;
	background-size: cover;
	}

.napisna {
	display: none;
	line-height: 1.5;
	font-size: 1.5rem;
	text-align: left;
	column-count: 1;
	background-color: rgba(58, 69, 92, 0.8);
	padding: 2rem;
	position: absolute;
	bottom: 0;
	color: #fff;
}

.container:hover {
filter: saturate(140%) hue-rotate(7deg);
	transition: 2s;
}

.container:hover .napisna {
	display: inline-block;
	width: 100%;
}

/* contact */

#kontakt p {
	column-count: 1;
	text-align: center;
	font-size: 2rem;
}

#kontakt a {
	text-decoration: none;
	color: #3a455c;
	font-weight: 600;
}

#kontakt span {
	font-weight: 600;
}

/*footer*/

footer{
	height: 6rem;
	background-color: #3a455c;
background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23656970' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
	color: #fff;
	margin-top: 7rem;
}

footer p {
	color: #f3ba67;
	font-size: 1.2rem;
	text-align: center;
	column-count: 1;
	margin-right: 2rem;
	padding-top: 2.4rem;
}


.btn-anime {
	color: #3a455c;
	background-image: linear-gradient(90deg, #F7C987 50%, transparent 50%);
	font-size: 3.5rem;
}

.btn {
	display: inline-block;
	background-color: inherit;
	background-position: 100% 0;
	background-size: 300%;
	transition: 0.7s;
	padding: 0.7rem 1.8rem;
	border-radius: 10px;
}

.btn:hover {
	background-position: 0 100%;
}

/*media queries*/

/*gallery for big screens*/

@media all and (min-width: 1400px) {
	.container {
		height: 300px;
	}
}

/*gallery 3 columns and change menu layout*/

@media all and (max-width: 1105px) {
	#galeria div {
	width: 33.3%;
	}

	header {
		text-align: center;
		height: 19rem;
	}

	h1 {
		text-align: center;
		float: none;
		margin-left: 0;
	} 

	nav {
		float: none;
		margin: 4rem 0 0 0;
	}
}



/*gallery 2 columns, change menu layout and change column-count*/

@media all and (max-width: 768px) {
	#galeria div {
	width: 50%;
	}

	p {
	column-count: 1;
	}

	h1 {
		text-align: center;
		float: right;
		margin-right: 3rem;

	} 

	nav {
		float: right;
		margin: 3rem 3rem 0 0;
	}

	.portrait {
		background: url(assets/portrait.jpg) center no-repeat fixed;
		background-position: 75% 0%; 
	}
}

/*change menu layout*/
@media all and (max-width: 700px) {
	
	header {
		height: 23.5rem;
	}

	h1 {
		display: block;
		max-width: 20rem;
		float: left;
		margin-left: 20rem;
	} 

	nav {
		float: right;
		margin: 2rem 3rem 0 0;
	}
	
	nav li {
	display: block;
	font-size: 3.1rem;
	padding-right: 0;
	text-align: right;
	margin-top: 1.5rem;
	}
}

/*change menu layout*/
@media all and (max-width: 580px) {
	
	.fur {
		display: none;
	}

	header {
		text-align: left;
	}

	h1 {
		margin-left: 0rem;
		font-size: 3.2rem;
	}

	nav li {
	font-size: 2.1rem;
	}
}

/*gallery 1 column*/

@media all and (max-width: 490px) {
	#galeria div {
	width: 100%;
	}
	.container {
		height: 350px;
	}
}

/*gallery for tiny screens*/

@media all and (max-width: 370px) {
	.container {
		height: 250px;
	}
}